<p class="caption">Вопросы - Ответы</p>
<ul class="answers">
    <li><a class="links" href="{% url 'faq' %}#question1" target="_blank">NPV: что это такое и как рассчитать</a></li>
    <li><a class="links" href="{% url 'faq' %}#question2" target="_blank">Приведенная стоимость: понятие и метод расчета</a></li>
    <li><a class="links" href="{% url 'faq' %}#question3" target="_blank">Как принимать обоснованные инвестиционные решения</a></li>
    <li><a class="links" href="{% url 'faq' %}#question4" target="_blank">Приведенная стоимость сложных процентов</a></li>
</ul>
