<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var datas = JSON.parse('{{ datas | escapejs }}');
        var percents = JSON.parse('{{ percents | escapejs }}');

        console.log(datas);

        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var titles = ['Ставка дисконтирования'];
            for (var i = 0; i < datas.length; ++i) {
                titles.push(datas[i].project_name);
            }
            var all_datas = [titles];

            for (i = 0; i < percents.length; ++i) {

                var percent = percents[i];
                var row = [percent];

                for (var j = 0; j < datas.length; ++j) {
                    row.push(datas[j].npvs[percent]);
                }

                all_datas.push(row);
            }

            var data = google.visualization.arrayToDataTable(all_datas);

            var options = {
                title: 'Линейная диаграмма инвестиционных проектов (NPV и IRR)',
                curveType: 'function',
                legend: {position: 'bottom'}
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>

<div id="curve_chart" style="width: 2000px; height: 1000px"></div>

<div id="table-npv-irr" style="width: 800px; margin-left: 300px; margin-bottom: 100px;">

    <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
            <th class="text-center">Проект</th>
            <th class="text-center">NPV</th>
            <th class="text-center">IRR</th>
        </tr>
        {% load l10n %}
        {% load template_filters %}
        {% for data in datas|loadjson %}
            <tr>
                <td class="pt-3-half">{{ data.project_name }}</td>
                {% localize off %}
                <td class="pt-3-half">{{ data.npv|floatformat:2 }}</td>
                {% endlocalize %}
                <td class="pt-3-half">{{ data.irr }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>