<!DOCTYPE html>
<html>
<head>
    <title>
        FAQ
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'
            async></script>

    {% load static %}
    <link rel="stylesheet" href="{% static "main_app/" %}css/faq.css"/>
</head>
<body>
<main>
    <article>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 main-content">
                <h2>FAQ</h2>
                <hr>

                <h4>Динамические способы оценки эффективности инвестиционных проектов:</h4>
                <p id="answer1">
                    <b>NPV</b><br>Чистый дисконтированный доход
                    <i>(англ. Net Present Value, NPV, чистая текущая стоимость, чистый приведенный доход, текущая стоимость)</i>  – показатель, отражающий изменение денежных потоков и показывает разность между дисконтированными денежными доходами и расходами.<br>
Чистый дисконтированный доход используют для того чтобы отобрать наиболее инвестиционно привлекательный проект.
                </p>
                <p id="answer2">
                    <b>Формула чистого дисконтированного дохода</b><br>
$$NPV = \sum_{t=1}^n {CF_t \over (1 + r)^t} - CF_0$$
где:<br>
NPV – чистый дисконтированный доход проекта;<br>
CF<sub>t</sub> – денежный поток в период времени t;<br>
CF<sub>0</sub> – денежный поток в первоначальный момент. Первоначальный денежный поток равняется инвестиционному капиталу (CF<sub>0</sub> = IC);<br>
r – ставка дисконтирования (барьерная ставка).<br>
</pre>
                </p>
                <p id="answer3">
                    <b>Оценка проекта на основе критерия NPV</b><br>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Критерий оценки NPV</th>
                              <th scope="col">Заключение по проекту</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>NPV<0</td>
                              <td>Инвестиционный проект, имеющий отрицательное значение NPV следует исключить из рассмотрения</td>
                            </tr>
                            <tr>
                              <td>NPV=0</td>
                              <td>Инвестиционный проект обеспечит уровень безубыточности, когда все доходы равны расходам</td>
                            </tr>
                            <tr>
                              <td>NPV>0</td>
                              <td>Инвестиционный проект привлекателен для вложения</td>
                            </tr>
                          </tbody>
                        </table>
Критерий оценки NPV
Заключение по проекту
NPV<0
Инвестиционный проект, имеющий отрицательное значение NPV следует исключить из рассмотрения
NPV=0
Инвестиционный проект обеспечит уровень безубыточности, когда все доходы равны расходам
NPV>0
Инвестиционный проект привлекателен для вложения
                </p>
                <p id="answer4">
                    <b>IRR Внутренняя норма прибыли</b> <i>(англ. Internal Rate of Return, IRR, внутренняя норма дисконта, внутренняя норма прибыли, внутренний коэффициент эффективности)</i> – показывает такую ставку дисконтирования, при которой чистый дисконтированный доход равняется нулю.
                </p>
                <p id="answer5">
<b>Формула расчета внутренней нормы прибыли инвестиционного проекта</b><br>
$$0 = \sum_{t=1}^n {CF_t \over (1 + IRR)^t} - CF_0$$
где:<br>
                    CF <i>(Cash Flow)</i> – денежный поток, который создается объектом инвестиций;<br>
IRR – внутренняя норма прибыли;<br>
                    CF<sub>0</sub> – денежный поток в первоначальный момент. В первом периоде, как правило, денежный поток равняется инвестиционному капиталу (CF<sub>0</sub> = IC).
                </p>
                <p id="answer6">
<b>Достоинства и недостатки внутренней нормы доходности IRR</b><br>
+   возможность сравнения инвестиционных проектов между собой, имеющих разный горизонт инвестирования;<br>
+ возможность сравнения не только проектов, но и альтернативных инвестиций, например банковский вклад. Если IRR проекта составляет 25%, а банковский вклад равен 15%, то проект более инвестиционно привлекателен.<br>
+ экспресс-оценка проекта на его целесообразность дальнейшего развития.<br>
Внутреннюю норму прибыли оценивают со средневзвешенной стоимостью привлеченного капитала, что позволяет сделать оценку целесообразности дальнейшего развития проекта.
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Оценка значений коэффициента IRR</th>
                              <th scope="col">Заключение по проекту</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>IRR > WACC</td>
                              <td>Вложенный в инвестиционный проект капитал будет создавать доходность выше, чем стоимость вложенного капитала. Такой проект инвестиционно привлекателен</td>
                            </tr>
                            <tr>
                              <td>IRR = WACC</td>
                              <td>Проект не принесет ни убытков, ни дохода в будущем периоде и такой проект не является привлекательным</td>
                            </tr>
                            <tr>
                              <td>IRR < WACC</td>
                              <td>Такой проект будет создавать отрицательный дисконтированный денежный поток в будущем</td>
                            </tr>
                          </tbody>
                        </table>
— не отражен абсолютный рост стоимости инвестиционного проекта;<br>
— денежные потоки часто имеют не систематическую структуру, что затрудняет правильный расчет данного показателя.
                </p>
                <p id="answer7">
                    <b>Индекс прибыльность инвестиций</b> <i>(англ. Profitability index, PI, индекс доходности, индекс рентабельности)</i> – показатель эффективности инвестиций, показывающий отдачу (доходность) вложенного капитала. Индекс прибыли представляет собой отношение дисконтированной стоимости будущих денежных потоков к стоимости первоначальных инвестиций.
                </p>
                <p id="answer8">
<b>Формула расчета индекса прибыльности инвестиций</b><br>
$$PI = {NPV \over IC} = {\sum_{t=1}^n {CF_t \over (1 + r)^t} \over IC}$$
где:<br>
NPV – чистый дисконтированный доход;<br>
n – срок реализации проекта;<br>
r – ставка дисконтирования (%);<br>
IC – вложенный (затраченный) инвестиционный капитал.<br>
                    <p id="answer9">
                    <b>Оценка проекта на основе критерия PI</b><br>
Критерий оценки PI
Заключение по выбору проекта
PI<1
Инвестиционный проект не сможет возместить в полном размере вложенные в него капитальные затраты
PI=1
Инвестиционный проект имеет доходность равную выбранной ставки дисконтирования
PI>1
Проект инвестиционно привлекателен для вложения, так как сможет обеспечить дополнительную отдачу капитала
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Критерий оценки PI</th>
                              <th scope="col">Заключение по выбору проекта</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>PI<1</td>
                              <td>Инвестиционный проект не сможет возместить в полном размере вложенные в него капитальные затраты</td>
                            </tr>
                            <tr>
                              <td>PI=1</td>
                              <td>Инвестиционный проект имеет доходность равную выбранной ставки дисконтирования</td>
                            </tr>
                            <tr>
                              <td>PI>1</td>
                              <td>Проект инвестиционно привлекателен для вложения, так как сможет обеспечить дополнительную отдачу капитала</td>
                            </tr>
                          </tbody>
                        </table>
                </p>
                <p id="answer10">
                    <b>Дисконтированный срок окупаемости</b> <i>(англ. Discounted Payback Period, DPP)</i> – показатель отражающий период, через который окупятся первоначальные инвестиционные затраты. Формула расчета коэффициента аналогична формуле оценки периода окупаемости инвестиций, только используется дисконтирование
                </p>
                <p id="answer11">
<b>Формула расчета дисконтированного срока окупаемости инвестиций</b><br>
$$DPP = min\ m, при\ котором \sum_{t=1}^n {CF_t \over (1 + r)^t} > IC$$
где:<br>
                    IC <i>(Invest Capital)</i> – инвестиционный капитал, первоначальные затраты инвестора в объект вложения;<br>
                    CF <i>(Cash Flow)</i> – денежный поток, который создается объектом инвестиций;<br>
r – ставка дисконтирования;<br>
t –период оценки получаемого денежного потока.
                </p>


                <h4>Статистические методы оценки инвестиционных проектов:</h4>

                <p id="answer12">
                    <b>Срок окупаемости инвестиций или инвестиционного проекта</b>
                    <i>(англ. Payback Period, PP, период окупаемости)</i> – данный коэффициент показывает период, за который окупятся первоначальные инвестиции (затраты) в инвестиционный проект. Экономический смысл данного показателя заключается в том, что бы показать срок, за который инвестор вернет обратно свои вложенные деньги (капитал).
                </p>

                <p id="answer13">
                    <b>Формула расчета срока окупаемости инвестиций (инвестиционного проекта)</b>
                    $$PP = min\ m, при\ котором \sum_{i=1}^n CF_i > IC$$
                    где:<br>
                    IC <i>(Invest Capital)</i> – инвестиционный капитал, первоначальные затраты инвестора в объект вложения. В формуле в иностранной практике иногда используют понятие не инвестиционный капитал, а затраты на капитал <i>(Cost of Capital, CC)</i>, что по сути несет аналогичный смысл;<br>
                    CF <i>(Cash Flow)</i> – денежный поток, который создается объектом инвестиций. Под денежным потоком иногда в формулах подразумевают чистую прибыль <i>(NP, Net Profit)</i>.<br>
Формулу расчета срока/период окупаемости можно расписать по-другому, такой вариант тоже часто встречается в отечественной литературе по финансам:
                    $$PP = {Затраты\ на\ инвестиции \over Денежный\ поток}$$
                    Следует отметить, что затраты на инвестиции представляют собой все издержки инвестора при вложении в инвестиционный проект. Денежный поток необходимо учитывать за определенные периоды (день, неделя, месяц, год). В результате период окупаемости инвестиций будет иметь аналогичную шкалу измерения.
                </p>

                <p id="answer14">
                    <b>Коэффициент рентабельности инвестиций или инвестиционного проекта</b>
                    <i>(англ. Accounting Rate of Return, ARR, ROI, учетная норма прибыли, рентабельность инвестиций)</i>
                     – показатель отражающий прибыльность объекта инвестиций без учета дисконтирования.
                </p>

                <p id="answer15">
                    <b>Формула расчета коэффициента рентабельности инвестиций</b>
                    $$ARR = {CF_{cp} \over IC}$$
                    где:<br>
                    CF<sub>ср</sub> – средний денежный поток (чистая прибыль) объекта инвестиций за рассматриваемый период (месяц, год);<br>
                    IC <i>(Invest Capital)</i> – инвестиционный капитал, первоначальные затраты инвестора в объект вложения.<br>
                    Существует также следующая разновидность формулы рентабельности инвестиций отражающая случай, когда в объект/проект в течение рассматриваемого периода вносят дополнительные инвестиционные вложения. Поэтому берется средняя стоимость капитала за период. Формула  при этом имеет вид:
                    $$ARR = {CF_{cp} \over { {1 \over 2} * (IC_0 + IC_1)}} $$
                    где:<br>
                    IC<sub>0</sub>, IC<sub>1</sub>– стоимость инвестиций (затраченного капитала) на начало и конец отчетного периода.
                </p>
            </div>
            <div class="col-2"></div>
        </div>
    </article>
</main>

</body>
</html>
