<!DOCTYPE html>
<html>
<head>
    <title>
        FAQ
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static "main_app/" %}css/faq.css"/>
</head>
<body>
<main>
    <article>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 main-content">
                <h2>FAQ</h2>
                <hr>

                <h4 id="question1">Приведенная стоимость сложных процентов</h4>
                <p>
                    We recommend using a CDN service if you can, but you can also install
                    MathJax on your own server, or locally on your own hard disk. To do
                    so you will need to do the following things:<br><br><br><br><br>
                    We recommend using a CDN service if you can, but you can also install
                    MathJax on your own server, or locally on your own hard disk. To do
                    so you will need to do the following things:
                </p>


                <h4 id="question2">Приведенная стоимость сложных процентов</h4>
                <p>
                    We recommend using a CDN service if you can, but you can also install
                    MathJax on your own server, or locally on your own hard disk. To do
                    so you will need to do the following things:<br><br><br><br><br>
                    We recommend using a CDN service if you can, but you can also install
                    MathJax on your own server, or locally on your own hard disk. To do
                    so you will need to do the following things:
                </p>


                <h4 id="question3">Приведенная стоимость сложных процентов</h4>
                <p>
                    We recommend using a CDN service if you can, but you can also install
                    MathJax on your own server, or locally on your own hard disk. To do
                    so you will need to do the following things:<br><br><br><br><br>
                    We recommend using a CDN service if you can, but you can also install
                    MathJax on your own server, or locally on your own hard disk. To do
                    so you will need to do the following things:
                </p>


                <h4 id="question4">Приведенная стоимость сложных процентов</h4>
                <p>
                    We recommend using a CDN service if you can, but you can also install
                    MathJax on your own server, or locally on your own hard disk. To do
                    so you will need to do the following things:<br><br><br><br><br>
                    We recommend using a CDN service if you can, but you can also install
                    MathJax on your own server, or locally on your own hard disk. To do
                    so you will need to do the following things:
                </p>
            </div>
            <div class="col-2"></div>
        </div>
    </article>
</main>

</body>
</html>
