<!DOCTYPE html>
<html>
<head>
    <title>
        Download
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

    {% load static %}
    <link rel="stylesheet" href="{% static "main_app/" %}css/home.css"/>
</head>
<body>
<main>
    <article>
        <div class="row main-content">
            <div class="col-2"></div>
            <div class="col-8 calc-content">
                <div class="row">
                    <div class="col-7">
                        <h4>Исходные данные</h4>

                        <div class="row" style="max-width: 380px;">
                            <div class="col-6">
                                Ставка дисконтирования
                            </div>
                            <div class="col-6">
                                {{ percent }} %
                            </div>
                            <div class="col-6">
                                Срок
                            </div>
                            <div class="col-6">
                                {{ year }} год(а)/лет
                            </div>
                        </div>
                    </div>

                    <div class="col-5">
                        <h4>Результат</h4>

                        <div class="row">
                            <div class="col-8">
                                ЧДД/NPV
                            </div>
                            <div class="col-4" id="totalDiscounted">{{ totalDiscounted|floatformat:2 }}</div>
                        </div>

                        <div class="row">
                            <div class="col-8">
                                Индекс прибыльности
                            </div>
                            <div class="col-4">{{ profIndex|floatformat:2 }}</div>
                        </div>
                    </div>
                </div>

                <div id="table" class="table-editable">
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                        <tr>
                            <th class="text-center">Год</th>
                            <th class="text-center">Доходы</th>
                            <th class="text-center">Расходы</th>
                            <th class="text-center">Чистый поток платежей</th>
                            <th class="text-center">Коэф.дисконт.</th>
                            <th class="text-center">Дисконт. платежи</th>
                        </tr>
                        {% load template_filters %}
                        {% for income in incomes %}
                            {% with forloop.counter0 as i %}
                                <tr>
                                    {% with outgo=outgos|index:i coef=coefs|index:i discounted=discounteds|index:i %}
                                        <td class="pt-3-half">{{ i }}</td>
                                        <td class="pt-3-half">{{ income }}</td>
                                        <td class="pt-3-half">{{ outgo }}</td>
                                        <td class="pt-3-half">{% subtract income outgo %}</td>
                                        <td class="pt-3-half">{{ coef|floatformat:2 }}</td>
                                        <td class="pt-3-half">{{ discounted|floatformat:2 }}</td>
                                    {% endwith %}
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        <tr>
                            <td class="pt-3-half">Итого</td>
                            <td class="pt-3-half">{{ totalIncome }}</td>
                            <td class="pt-3-half">{{ totalOutgo }}</td>
                            <td class="pt-3-half">{{ totalRes }}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </article>
</main>


</body>
</html>
