html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

article {
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.05);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.answer_links {
    background: #343131 !important;
    padding: 20px 20px 20px 30px;
}

p.caption {
    height: 32px;
    line-height: 32px;
    padding: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 80%;
    white-space: nowrap;
    color: #9b9b9b;
}

a.links {
    color: #d9d9d9;
    font-size: 14px;
}

ul, ol {
    list-style: none;
    padding: 0 0 0 15px;
}

.main-content {
    flex: 1;
}

.calc-content {
    padding: 40px 50px;
}

td {
    background: #e5e7e9
}

td.editable_col {
    background: #f2f3f4;
}

td > input {
    padding: 1px 5px;
    width: 150px;
    text-align: center;
}

tr.pp {
    background: #1c7430;
}

.login {
    font-weight: 600;
    font-size: 14px;
    color: #02E3A9;
    text-transform: uppercase;
    margin-left: -15px;
}

.login:hover {
    color: #02E3A9;
}

.project-name {
    width: unset !important;
    display: unset !important;
}

.dropdown-menu {
	border: 0;
	width: 188px;
	background: #02E3A9;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
	padding-top: 40px;
	padding-bottom: 0;
	top: 7px !important;
}

.dropdown-menu:after {
	content: '';
	background: url("../images/dropdown-top-icon.png") no-repeat center;
	width: 16px;
	top: -7px;
	display: block;
	height: 16px;
	right: 11px;
	position: absolute;
}

.dropdown-menu a {
	text-align: right;
	width: 100%;
	display: block;
	color: #FFF;
	padding: 5px 18px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	transition: .2s ease all;
}

.dropdown-menu a:hover {
	background-color: #fff;
	color: #02E3A9;
}